    <div class="credits text-center">
        <!-- <p>
            <a href="http://jasonwatmore.com/post/2015/12/09/MEAN-Stack-User-Registration-and-Login-Example.aspx">MEAN Stack Estoque</a>
        </p>
        <p>
            <a href="http://jasonwatmore.com">JasonWatmore.com</a>
        </p> -->
        <p>Amanda Ruza 081160013 | Beatriz Toreta 081160002 | Bruno Castellani 081160009 | Bruno Michelin 081160030 | Isabelle Puertas 081160014</p>                  
    </div>
</body>
</html>